.flex{
	display: flex;
}
.justify-center{
	justify-content: center;
}
.align-item{
	align-items: center;
}
.flex-direction{
	flex-direction: column;
}
.justify-row{
	justify-content: row;
}
.hover{
	opacity: 1;
	color: white;
}
.list_style{
	list-style: none;
}
.font{
	font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif))
}


 /* Style the scrollbar */
  ::-webkit-scrollbar {
	width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #c0c0c0; /* light grey */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #696969; /* grey */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #808080; /* darker grey on hover */
  }
  
